[submodule "crates/axdriver_crates"]
	path = crates/axdriver_crates
	url = https://github.com/starry-mix-rk3588/axdriver_crates.git
[submodule "crates/realtek-drivers"]
	path = crates/realtek-drivers
	url = https://github.com/kylin-x-kernel/realtek-drivers.git
